@charset "utf-8";
/* CSS Document */
.clrWhite{
	color:#fff;
}
.clrGold{
	color:#754c24;
}
.padding150{
	padding-top:150px;
	padding-bottom:150px;
}
.padding50{
	padding-top:50px;
	padding-bottom:50px;
}
.padding25{
	padding-top:25px;
	padding-bottom:25px;
}
.padding15{
	padding-top:15px;
	padding-bottom:15px;
}
.sidepad{
	padding-left:0px;
	padding-right:0px;
}
.sidepad10{
	padding-left:10px;
	padding-right:10px;
}
.noBorder{
	border-color:transparent;
}
.sectionTitle{
	font-size:60px;
	font-weight:bold;
}
.paddingBot-50{
	padding-bottom:50px;
}
.responsive{
	max-width: 100%;
	height: auto
}
.overflow{
	overflow:hidden;
	padding:0px;
}
.product{
	padding:10px 10px !important;
}
.margin-0{
	margin:0px;
}
.productName{
	float:left;
}
.productPrice{
	float:right;
	color:#612204;
	font-weight:900;
}
.productDetail{
	float:left;
}
.recomemdedItem{
	padding:2px 15px;
	float:right;
	font-size:9px;
	color:#fff;
	background:#612204;
}
.productWrap{
	padding:0px;
	overflow:hidden;
	border-radius:0px;
	transition:all 0.5s ease-in-out;
}
.productWrap:hover{
	border:1px solid #612204;
	transition:all 0.5s ease-in-out;
}
.productWrap:hover img{
	transform:scale(1.1);
	transition:all 0.5s ease-in-out;
}
#section2{
	background:url(../images/img_background_002.png) no-repeat;
}
#section2 p{
	color:white;
}
.indicator{
	bottom:0px;
}
.slider{
	height:500px;
	position:relative;
}
.text-inner{
	padding-top:35px;
}
.arrow-circle{
	width:50px;
	height:50px;
	float:left;
	margin-right:15px;
	border:2px solid #754c24;
	border-radius:50%;
	background:#fff;
	line-height:50px;
	font-size:40px;
	padding-left:12px;
	text-decoration:none;
	cursor:pointer;
}
.arrow-circle p{
	color:#754c24;
}
.arrow-circle:hover{
	background:#754c24;
}
.arrow-circle:hover p{
	color:#fff;
	text-decoration:none;
}
.img-wrapper{
	position:absolute;
	bottom:0px;
	right:0px;
}
.img-wrapper .staffimg{
	width:195px;
	height:195px;
	margin-right:15px;
	display:inline-block;
	overflow:hidden;
}
.img-wrapper .staffimg > img{
	width:195px;
	height:auto;
}
.img-wrapper .activeImg{
	width:360px;
	height:460px;
	position:absolute;
	left: -370px;
	top: -259px;
	overflow:hidden;
	-webkit-animation-name:rotate;
	-moz-animation-name:rotate;
	-ms-animation-name:rotate;
	-o-animation-name:rotate;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
}
.img-wrapper .activeImg > img{
	width:360px;
	height:auto;
}
@keyframes rotate{
	0% { -webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg); -ms-transform:rotateY(180deg); opacity:0}
	10% { -webkit-transform:rotateY(162deg);-moz-transform:rotateY(162deg);-o-transform:rotateY(162deg);-ms-transform:rotateY(162deg); opacity:0.1}
	20% { -webkit-transform:rotateY(144deg); -moz-transform:rotateY(144deg); -o-transform:rotateY(144deg); -ms-transform:rotateY(144deg); opacity:0.2}
	30% { -webkit-transform:rotateY(126deg); -moz-transform:rotateY(126deg); -o-transform:rotateY(126deg); -ms-transform:rotateY(126deg); opacity:0.3}
	40% { -webkit-transform:rotateY(108deg); -moz-transform:rotateY(108deg); -o-transform:rotateY(108deg); -ms-transform:rotateY(108deg) opacity:0.4}
	50% { -webkit-transform:rotateY(90deg); -moz-transform:rotateY(90deg); -o-transform:rotateY(90deg); -ms-transform:rotateY(90deg); opacity:0.5}
	60% { -webkit-transform:rotateY(82deg); -moz-transform:rotateY(82deg); -o-transform:rotateY(82deg); -ms-transform:rotateY(82deg); opacity:0.6}
	70% { -webkit-transform:rotateY(60deg); -moz-transform:rotateY(60deg); -o-transform:rotateY(60deg); -ms-transform:rotateY(60deg); opacity:0.7}
	80% { -webkit-transform:rotateY(45deg); -moz-transform:rotateY(45deg); -o-transform:rotateY(45deg); -ms-transform:rotateY(45deg); opacity:0.8}
	90% { -webkit-transform:rotateY(20deg); -moz-transform:rotateY(20deg); -o-transform:rotateY(20deg); -ms-transform:rotateY(20deg); opacity:0.9}
	100% { -webkit-transform:rotateY(0deg); -moz-transform:rotateY(0deg); -o-transform:rotateY(0deg); -ms-transform:rotateY(0deg); opacity:1}
}

@-webkit-keyframes rotate{
	0% { -webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg); -ms-transform:rotateY(180deg); opacity:0}
	10% { -webkit-transform:rotateY(162deg);-moz-transform:rotateY(162deg);-o-transform:rotateY(162deg);-ms-transform:rotateY(162deg); opacity:0.1}
	20% { -webkit-transform:rotateY(144deg); -moz-transform:rotateY(144deg); -o-transform:rotateY(144deg); -ms-transform:rotateY(144deg); opacity:0.2}
	30% { -webkit-transform:rotateY(126deg); -moz-transform:rotateY(126deg); -o-transform:rotateY(126deg); -ms-transform:rotateY(126deg); opacity:0.3}
	40% { -webkit-transform:rotateY(108deg); -moz-transform:rotateY(108deg); -o-transform:rotateY(108deg); -ms-transform:rotateY(108deg) opacity:0.4}
	50% { -webkit-transform:rotateY(90deg); -moz-transform:rotateY(90deg); -o-transform:rotateY(90deg); -ms-transform:rotateY(90deg); opacity:0.5}
	60% { -webkit-transform:rotateY(82deg); -moz-transform:rotateY(82deg); -o-transform:rotateY(82deg); -ms-transform:rotateY(82deg); opacity:0.6}
	70% { -webkit-transform:rotateY(60deg); -moz-transform:rotateY(60deg); -o-transform:rotateY(60deg); -ms-transform:rotateY(60deg); opacity:0.7}
	80% { -webkit-transform:rotateY(45deg); -moz-transform:rotateY(45deg); -o-transform:rotateY(45deg); -ms-transform:rotateY(45deg); opacity:0.8}
	90% { -webkit-transform:rotateY(20deg); -moz-transform:rotateY(20deg); -o-transform:rotateY(20deg); -ms-transform:rotateY(20deg); opacity:0.9}
	100% { -webkit-transform:rotateY(0deg); -moz-transform:rotateY(0deg); -o-transform:rotateY(0deg); -ms-transform:rotateY(0deg); opacity:1}
}

.sliderDetail{
	opacity:0;
	display:none;
	margin:0 0 0 35px;
}
.activeTxt{
	opacity:1;
	display:block;
	margin:0px;
	-webkit-animation-name:margin;
	-moz-animation-name:margin;
	-ms-animation-name:margin;
	-o-animation-name:margin;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
}
@keyframes margin{
	0% { margin-left:35px; opacity:0}
	20% { margin-left:28px; opacity:0.2}
	40% { margin-left:20px; opacity:0.4}
	60% { margin-left:13px; opacity:0.6}
	80% { margin-left:7px; opacity:0.8}
	100% {margin-left:0px; opacity:1}
}

@-webkit-keyframes margin{
	0% { margin-left:35px; opacity:0}
	20% { margin-left:28px; opacity:0.2}
	40% { margin-left:20px; opacity:0.4}
	60% { margin-left:13px; opacity:0.6}
	80% { margin-left:7px; opacity:0.8}
	100% {margin-left:0px; opacity:1}
}
#section4{
	background:url(../images/img_background_003.png);
}
.indicator2{
	top:230px;
}
.quoteWrap{
	min-height:210px;
}
.quoteContent{
	font-size:30px;
	color:white;
}
.quote{
	font-size:14px;
	float:right;
	color:white;
}

.imgWrapper{
	overflow:hidden;
}
#section-5 .col-md-4{
	padding-top:15px;
}
.ourBlog{
	position:relative;
	margin-top:35px;
}
.ourBlog .date{
	width: 52px;
	height: 52px;
	font-size: 14px;
	color: #FFF;
	border: 5px solid #FFF;
	background: none repeat scroll 0% 0% #754C24;
	font-weight: 600;
	position: absolute;
	top: -60px;
	left: 150px;
}
.ourBlog p{
	color:#444;
	padding-bottom:35px;
}
.ourBlog a{
	color:#444;
	border:2px solid #444444;
	padding:5px 35px;
	text-decoration:none;
}
.blogContent{
	transition:all 0.5s ease-in-out;
}
.blogContent:hover{
	padding:15px;
	background:#754c24;
}
.blogContent:hover h3, .blogContent:hover p{
	color:#fff;
}
.blogContent:hover a{
	border-color:#fff;
	color:#fff;
	background:#754c24;
	transition:all 0.5s ease-in-out;	
}
.blogContent:hover a:hover{
	color:#754c24;
	background:#fff;
}
#section5 .seeMore{
	float:right;
	text-decoration:none;
	color:#754c24;
	transition:color 0.5s ease-in-out;
}
#section5 .seeMore:hover{
	color:#000000;
}

#row_01{
	padding-right:30px;
}