@charset "utf-8";
/* CSS Document */

@media(max-width:800px) {
	.descBlock {
		margin-top: 10px;
	}
	.description {
		margin-left: 0;
	}
	.border-quote {
		height: 75px;
		margin-top: -9px;
	}
	.quote {
		margin-top: 50px;
	}
	.quote:before {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_002.png) no-repeat;
		width: 11px;
		height: 8px;
		left: -12px;
		top: -3px;
	}
	.quote:after {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_003.png) no-repeat;
		width: 11px;
		height: 8px;
		right: 34px;
  		bottom: 105px;
	}
	.social {
		margin-top: 45px;
	}
}

@media(max-width:768px) {
	.descBlock {
		margin-top: 10px;
	}
	.description {
		margin-left: 0;
	}
	.border-quote {
		height: 75px;
		margin-top: -9px;
	}
	.quote {
		margin-top: 50px;
	}
	.quote:before {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_002.png) no-repeat;
		width: 11px;
		height: 8px;
		left: -12px;
		top: -3px;
	}
	.quote:after {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_003.png) no-repeat;
		width: 11px;
		height: 8px;
		right: 34px;
  		bottom: 105px;
	}
	.social {
		margin-top: 45px;
	}
}

@media(max-width:480px) {
	.descBlock {
		margin-top: 20px;
	}
	.img-responsive2 {
		width: 300px;
		height: auto;
	}
	.description {
		margin-left: 0;
	}
	.border-quote {
		height: 65px;
		margin-top: -9px;
	}
	.quote {
		margin-top: 40px;
	}
	.quote:before {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_002.png) no-repeat;
		width: 11px;
		height: 8px;
		left: -12px;
		top: -3px;
	}
	.quote:after {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_003.png) no-repeat;
		width: 11px;
		height: 8px;
		right: 34px;
  		bottom: 105px;
	}
	.social {
		margin-top: 45px;
	}
}

@media(max-width:320px) {
	.text1 {
		margin-top: 80px;
	}
	.listStaff {
		margin-bottom: 50px;
	}
	.description {
		margin-left: 0;
	}
	.border-quote {
		height: 100px;
		margin-top: -17px;
	}
	.quote {
		margin-top: 45px;
	}
	.quote:before {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_002.png) no-repeat;
		width: 11px;
		height: 8px;
		left: -12px;
		top: -5px;
	}
	.quote:after {
		display: block;
		position: absolute;
		content: '';
		background: url(../images/content_img_003.png) no-repeat;
		width: 11px;
		height: 8px;
		right: 22px;
		bottom: 85px;
	}
	.social {
		margin-top: 45px;
	}
}

